.movie-dashboard {
  padding: 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.dashboard-heading {
  font-size: 3em;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
}

.main-content {
  margin-top: 30px;
}